.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  background-color: rgba(255, 250, 250, 0.8);
  border-radius: 10px;
}

.label {
  display: inline-block;
  margin-bottom: 20px;

  color: #212121;
  font-size: 20px;
  font-weight: 700;
}

.input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 28px;
  width: 90%;
  padding: 0 10px;

  color: #212121;
  font-size: 18px;
  font-weight: 500;

  border: none;
  border-bottom: 2px solid #212121;
  border-radius: 10px;
}

.addContactBtn {
  font-family: "Varela Round", sans-serif;
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(240, 236, 232);
  border-radius: 5px;
  border: 1px solid #212121;
  cursor: pointer;
}

.addContactBtn:focus,
.addContactBtn:hover {
  background-color: dodgerblue;
}
